# Default ignored files
/workspace.xml

/shelf/
/workspace.xml
*.sqlite3
media/
*.idea

.env

# virtualenv
.venv
venv/

./Async_Api_call/local_database_calls/migrations
./Async_Api_call/youtube_server_calls/migrations
